table,td{
    border: 1px solid black;
    width: 450px;  
        
  }
  .table{
    width: 300px;
    height: 300px;
    border: 1 solid black;
    margin-left: 10px;
  }
  .btn{
    border: 1 solid black;
    background-color: rgb(226, 43, 165);
    margin-left: 10px;
  }