*{
    margin: 10px;
}
.danger{
    color:red;
}
.no-danger{
    color:blue;
}
.list{
    text-decoration: none;
}
.card-group{
    width: 350px;
    height: 200px;
    align-items: center;
    margin-left: 20px;
    display: inline-block;
}
.btn{
    background-color: aqua;
    border: 1px solid;
}
