<h1> Welcome</h1>
<app-pipesexample></app-pipesexample>
<nav>
    <ul>
        <li><a routerLink="Home">Home</a></li>
        <li><a routerLink="/About">About</a></li>
        <li><a routerLink="/Contact">Contact</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
<app-table></app-table>

<!-- <app-card></app-card>
<br>
<app-table></app-table>



<h1>Welcome</h1> 
<h1>{{title}}</h1>
<button (click)="toggle()">click</button> -->
<!-- <button (click)="udpdateChild()">Update child </button>  
<app-child [abc]="inputvariable="></app-child> -->
<!-- <app-card></app-card> -->
<!-- <table>
    <tr>
        <td>ID</td>
    </tr>
    <tr *ngFor="let x of data.data"></tr>
    <td>{{x.ID}}</td>
</table> -->
<!-- <p [ngClass]="danger ? 'danger' :'no-danger' ">warning take care of yourself</p>
<p [ngClass]="{'danger' : danger===true , 'no-danger' :danger===false}">warning take care of yourself</p>
<button (click)="danger = !danger">toggle danger</button>
<p [ngClass]="{'danger' : isEven()}">warning take care of yourself</p>
<span>NUM: {{num}}</span>
<button (click)="handleclick()">toggle danger</button>
<button [ngStyle]="{'font-size.px':20 ,'color':'red'}">ngStyle</button>
<p [ngStyle]="{backgroundColor:isEven() ? 'yellow' : 'orange',color:isEven()? 'black': 'green'}">Warning Take care of yourself</p>
<button [ngClass]="['btn-bold' ,'btn-italics']">ngClass Array</button>
<button [ngClass]="Addclass()">FUnction</button> -->
<!-- <p appRed>Hello</p> -->
<!-- <button (click)="func()">Click</button> -->